
progress {
  width: 200px;
}
.upload {
  margin: 10px;
  padding: 5px;
  border-radius: 100%;
  outline: none;
  font-family: "arial black";
  font-variant: small-caps;
  font-size: 14px;
  width: 75px;
  height: 75px;
  border: none;
  box-shadow: 2px 2px 2px black;
  transition: 0.3s;
  opacity: 0.7;
}
.upload:hover {
  opacity: 1.0;
}
.pushed {
  box-shadow: 1px 1px 1px black;
  transform: translateY(2px);
}
.openModalButton {
  color: #fff;
  font-size: 1.5em;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 90px;
  height: 80px;
  border-radius: 100%;
  border: none;
  border: 3px solid #fff;
  font-weight: bold;
  animation-name: show;
  animation-duration: 3s;
}
.openModalButton:hover {
    cursor: pointer
}
.closeModalButton {
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 7px;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalContent {
  margin-top: 100px;
  border: 2px solid #fff;
  background-color: #c3c3c3;
  padding: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgPlaceholder {
  width: 200px;
  height: 150px;
  margin: auto;
  border: 1px solid black;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgPreview {
  margin: auto;
  display: block;
  border: 1px solid black;
}
@media (max-width: 600px) {
    .openModalButton {
        width: 40px;
        height: 40px;
        top: 20px;
        font-size: 0.7em;
    }
}
@keyframes show {
    0% {transform: scale(0)}
    50% {transform: scale(0)}
    75% {transform: scale(1.2)}
    100% {transform: scale(1)}
}
